*.env
*.pyc
gen-lang-client-0704427172-e146f940df9a.json
*.vscode
app/ai_integrations/ocr/2025-12-13   04-39-55-PM.png
app/ai_integrations/ocr/this-restaurants-receipt-design-at-lax-v0-hzb6w2410a3d1.webp
